@charset "UTF-8";

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 88px;
  background-color: white;
  border-bottom: 2px solid #828282;
  z-index: 5;
}

.menu__body {
  width: 90%;
  margin: 0 auto;
  max-width: 936px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 88px;
}

.header__list__item a {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #828282;
}

.header__list__item a:hover {
  color: black;
}

.mobile__button-block {
  display: none;
}

.btn_menu {
  display: none;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.hero__content__title {
  max-width: 130px;
  font-size: 48px;
  line-height: 59px;
  margin-top: 40px;
  letter-spacing: 0.2px;
}

.hero__content__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: medium;
  margin-top: 102px;
}

.hero__content span {
  display: table;
}

.hero__content__button-block {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 42% -118%;
      -ms-transform-origin: 42% -118%;
          transform-origin: 42% -118%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 75px;
  position: relative;
}

.hero__content__button-block::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 16px;
  left: 40%;
  bottom: 0;
}

.hero__content__button-block .btn {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  border: none;
  color: #828282;
  background: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__content__button-block .btn:hover {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hero__img {
  width: 100%;
  margin: 50px 0 105px;
}

.about {
  background-color: #f6f6f6;
  text-align: center;
  padding: 80px 0;
}

.about__content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 486px;
}

.about__content__title {
  margin: 0 auto;
  font-size: 34px;
  line-height: 42px;
}

.about__content__text {
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
}

.text-1 {
  margin-top: 30px;
}

.text-1 span {
  display: table;
}

.text-2 {
  max-width: 390px;
  margin: 40px auto;
}

.text-2 span {
  display: inline;
}

.text-3 {
  max-width: 310px;
}

.skills {
  padding: 80px 0;
}

.skills__title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

.skills__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 70px;
}

.skills__list {
  margin: 80px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 17%;
  height: 226px;
}

.skills__list__item img {
  height: 120px;
}

.skills__list__item p {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  width: 55%;
}

.rating {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.rating:not(:checked) > input {
  display: none;
}

.rating:not(:checked) > label {
  float: right;
  padding: 0;
  cursor: pointer;
  font-size: 26px;
  line-height: 26px;
  color: #e5e5e5;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked ~ label {
  color: black;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: black;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: black;
}

.rating > label:active {
  position: relative;
}

.gallery {
  background-color: #f6f6f6;
  padding: 50px 0;
}

.gallery__title {
  display: block;
  text-align: center;
  margin-bottom: 47px;
  font-size: 34px;
  line-height: 42px;
}

.image-slider__wrapper {
  padding: 30px 0 70px 0;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  display: none;
}

.image-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: white;
}

.footer__content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.footer__content__title {
  padding-top: 50px;
  font-size: 34px;
  line-height: 42px;
}

.footer__content__text {
  margin: 20px auto 30px;
  font-size: 18px;
  line-height: 22px;
}

.footer__content__button {
  width: 200px;
  height: 60px;
  padding: 0 10px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__content__button:focus {
  outline: none;
}

.footer__content__button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 4px 4px 5px #969696;
          box-shadow: 4px 4px 5px #969696;
}

.footer__content__button:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 0 0 #969696;
          box-shadow: 0 0 0 #969696;
}

.footer__content__social {
  max-width: 345px;
  margin: 45px auto 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content__social__img {
  width: 60px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__content__social__img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__content__social__img:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.footer__content__text-bottom {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.footer_link {
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}

.footer_link:hover {
  text-decoration: underline;
}

.your_text {
  display: block;
  max-width: 30%;
  min-width: 250px;
  min-height: 80px;
  padding: 10px;
  margin: 0 auto 30px;
}

.tel {
  margin-top: 20px;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
p,
body {
  font-family: "Roboto", Arial, sans-serif;
}

p {
  line-height: 1.16667;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

body._lock {
  overflow: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 936px;
}

.containerBig {
  max-width: 936px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .skills__list__item {
    width: 20%;
  }
}

@media screen and (max-width: 715px) {
  .skills__list__item {
    width: 20%;
  }
}

@media screen and (max-width: 680px) {
  .skills__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 80px 0 20px;
  }

  .skills__list__item {
    width: 25%;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 650px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .hero__content__title {
    margin-top: 30px;
  }

  .hero__content__text {
    margin-top: 25px;
  }

  .hero__img {
    margin: 37px auto 83px;
  }
}

@media screen and (max-width: 600px) {
  .skills__list__item {
    width: 28%;
  }
}

@media screen and (max-width: 500px) {
  .skills__list__item {
    width: 32%;
  }
}

@media screen and (max-width: 450px) {
  header {
    height: 0px;
    border-bottom: none;
  }

  .menu__body {
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px 20px;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 80%;
    height: 320px;
  }

  .header__list__item {
    margin-top: 35px;
  }

  .header__list__item > a {
    font-size: 34px;
    line-height: 42px;
  }

  .header__list__item:first-child {
    margin-top: 25px;
  }

  .mobile__button-block {
    display: block;
    width: 140px;
    float: right;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 30% 250%;
        -ms-transform-origin: 30% 250%;
            transform-origin: 30% 250%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }

  .mobile__button-block::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 4px;
    height: 36px;
    left: 40%;
    bottom: 0;
  }

  .mobile__button-block button {
    font-size: 34px;
    line-height: 42px;
    font-weight: bold;
    color: #828282;
    border: none;
    background: transparent;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .mobile__button-block button:hover {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .btn_menu {
    display: block;
    position: fixed;
    top: 40px;
    right: 20px;
    background: transparent;
    cursor: pointer;
    z-index: 10;
    width: 34px;
    height: 18px;
  }

  .btn_menu::before,
  .btn_menu::after,
  .btn_menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: black;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .btn_menu::before,
  .btn_menu::after {
    content: "";
  }

  .btn_menu::before {
    top: 0;
  }

  .btn_menu::after {
    bottom: 0;
  }

  .btn_menu:active + .mobile {
    left: 0;
  }

  .btn_menu span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .btn_menu._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .btn_menu._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .btn_menu._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .hero__content__button-block {
    display: none;
  }

  .text-1 span {
    display: inline;
  }

  .text-2 span {
    display: table;
    margin: 0 auto;
  }

  .skills__list__item {
    width: 36%;
  }

  .footer__content {
    width: 100%;
  }

  .footer__content__button {
    width: 100%;
  }

  .footer__content__social {
    max-width: 100%;
    margin: 48px auto;
  }
}

@media screen and (max-width: 400px) {
  .skills__list__item {
    width: 40%;
  }
}

@media screen and (max-width: 350px) {
  .skills__list__item {
    width: 45%;
  }
}